<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Go Green Admin</title>
</head>
<body>
    <a href="/admin/articles">Articles</a>
    <a href="/admin/brands">Brands</a>
   
</body>

</html>