<section class="articles">
    {{#articles}}
    <div class="article-card">
        <a href="{{url}}">
            <img class="article-image" src="{{image}}">
        </a>
        <p class="article-description">{{description}}</p>   
    </div>
    {{/articles}}
</section>