<section class="environment-feature">
    <div class="environment-feature-row">
        <a href="/tiny-house">
            <div class="sustainable-living-banners tiny-house-living-information">
                <img class="banner-image" src="/img/tiny-living.png"> 
            </div>
        </a>
        <a href="/home-gardening">
            <div class="sustainable-living-banners home-gardening-information">
                <img class="banner-image" src="/img/garden.jpg"> 
            </div>
        </a>
        
    </div>
</section>