 <div class="header">
        <a id="announcement" href="https://www.thepetitionsite.com/en-ca/wildlife/#hottest" class="announcement-bar announcement-bar--link">
            <p class="announcement-bar__message">SAVE OUR ENDANGERED ANIMALS WITH A CLICK OF A BUTTON</p>
        </a>
        <header class="main-header">
            <div class="logo">
                <img class="site-logo" src="/img/logo.png" alt="logo">
            </div>

            <div class="main-nav">
                <nav>
                    <ul class="main-nav-items">
                        <li><a href="#">Trending</a></li>
                        <li><a href="/kitchen">Kitchen</a></li>
                        <li><a href="/bath-and-body">Bath & Body</a></li>
                        <li><a href="/household-cleaning">Household & Cleaning</a></li>
                        <li><a href="/on-the-go">On The Go</a></li>
                        <li><a href="/brands">Brands</a></li>
                    </ul>
                </nav>
            </div>

            <div class="search">
                <i class="fa fa-search search-icon" aria-hidden="true"></i>
                <div class="search-box hidden"> 
                    <input type="text">
                    <input type="button" value="search">
                </div>
            </div>   
        </header>  
    </div>