 <div class="slideshow-container">
        {{#slides}}
         <div class="slide fade">
            <img class="slideshow-image" src="{{image}}">
            <div class="overlay"></div>
            <div class="image-description"><a href="{{page}}">{{blurb}}</a></div>
        </div>
        {{/slides}}  
    </div>

    <div class="dots">
        {{#slides}}
        <span class="dot"></span> 
        {{/slides}}   
    </div>