<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Household & Cleaning</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    {{>header}}

    <section class="product-comparison">
        <div class="feature-row">
            <div class="bad-product">
                <img class="product-img" src="/img/toiletpaper.jpg">
                <div class="welcome-message">
                    <h3>Toilet Paper</h3>
                    <p>
                       Toilet paper proably is not one of the first products that come to mind when thinking of items that are causing harm to the planet. We use it 
                       flush it and never have to think about it again, but where does it go. After a study done by the Natural Resources Defence council they found that 
                       Big brands like Charmin and Ultra Soft dont use any recycled material but rather get theyre materal from clear cutting the Boreal Forest in Canada. the Boreal forest is an amzinf lush forest often 
                       referred to as the Amazon of the North. This forest is very important as they release a lot of oxygen into the atmosphere. Cleare cutting these areas
                       also disrupt the natural ecosytems already present. 
                    </p>
                </div>
            </div>

            <div class="good-product">
                <img class="eco-product" src="/img/seventhgen.jpg">
                <div class="welcome-message">
                    <h3>Eco Friendly Toilet Paper</h3>
                    <p>
                       Eco friendly Toilet paper, yup we have that too! Its something you use evryday and making th eswitch is easy.you get all the same 
                       perks that uou have from your old toilet paper plus the added benefit that the one you are using is eco friendly. A great brand that is offered in many 
                       retail stores and online is <a href="https://www.seventhgeneration.com/bathroom-tissue-2-ply">Seventh Generation</a> that has 100% recycled toilet paper! 
                    </p>
                </div>
            </div>
           
        </div>
        <div class="feature-row">
            <div class="bad-product">
                <img class="eco-product" src="/img/cleaningproducts.jpg">
                <div class="welcome-message">
                    <h3>Cleaning Supplies</h3>
                    <p>
                        So many cleaning supplies on the market are full with harsh chemicals that are not only bad for the environemtn but are bad for people to. They are products that are 
                        key in any home and thus this industry generates a lot of waste from these plastic products people keep reusing. Its a commmon micponception that these chemical rich
                        options are going to do a better job at cleaning becaus ethey have these chemicals. In fact they do not and the green options that are on the market clean just as well AND have the added 
                        benefit of being not as harsh.
                    </p>
                </div>
            </div>

            <div class="good-product">
                <img class="eco-product" src="/img/cleancleaning.jpg">
                <div class="welcome-message">
                    <h3>Clean Cleaning</h3>
                    <p>
                        The products you use to ensure your personal space is clean should be as clean as the home your trying to keep clean. Their are many brands
                        out there that you can choose from depending on your specific needs. A popular brand is <a href="https://www.blueland.com/collections/our-kits/products/the-clean-up-kit?utm_source=RAN&utm_medium=affiliates&utm_campaign=10&utm_content=TnL5HPStwNw&ranMID=44816&ranEAID=TnL5HPStwNw&ranSiteID=TnL5HPStwNw-OWmKgKiHWrzGaX94h3AX5Q">Blueland's</a> 'The Clean up Kit'. 
                        Using this product, you won't be contributing to landfill waste becasu the cleaning bottle is resuable. Simply fill the bottle with water, and the cleaning solution
                        and clean away. You'll never have to throw the bottle out plus you get multiple uses out of it. 
                    </p>
                </div>
            </div>
           
        </div>
    </section>
    <script src="/js/index.js"></script>
</body>
</html>