<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Go Green</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {{>header}}
    {{>slideshow}}
    {{>products}}
    <section class="welcome-feature">
        <div class="feature-row">
            <img src="/img/welcome-image.jpg">
            <div class="welcome-message">
                <h3>Welcome to GoGreen</h3>
                <p>
                    Go Green is a website designed for people who are wanting to learn how to be more environmentally sustainable and do not know where to start.
                    Go Green provides resources. such as articles from popular blogs and news outlets on information about how important it is that humans start 
                    thinking about more green options, the environmental impact different industries have on our climate, and my more. not only can you find information
                    about why it is so important to be sustainable the site also provides information on ways you can make small changes in your everyday life to reduce your
                    impact on the environment. 
                </p>
            </div>
        </div>
    </section>
    
    {{>articles}}
    <script src="/js/index.js"></script>
</body>

</html>