<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    {{>header}}
    <section class="product-comparison">

        <div class="feature-row">
            <div class="bad-product">
                <img class="eco-product" src="/img/saranwrap.jpg">
                <div class="welcome-message">
                    <h3>Saran Wrap</h3>
                    <p>
                        Saran wrap is almost a stap that you can find in any home. And whle they are a necessity to keep your food fresh longer they are pure plastic and very harmful for the environment. 
                        Plastic does not decompose and it also is costly becomes costly to have to keep buying. It overall genrates a lot of waste. 
                    </p>
                </div>
            </div>

            <div class="good-product">
                <img class="eco-product" src="/img/beeswaxwrap.jpg">
                <div class="welcome-message">
                    <h3>Beeswax Wraps</h3>
                    <p>
                       Make your kitchen more green with these all natural bees wax wraps. They are a great alternative to cling wrap that you have to toss away almost everytime
                       you take your food out of the fridge. With the Bees wax wraps you can not only reduce your plastic use, but they are reusable and can be used multiple times before they start to wear out! Some great ones you can buy are
                       from <a href="https://www.naturebeewraps.ca">Nature Bee</a>. You can even try and be more adventerous and make your own, all you need is a thin breathable fabric and some bees wax that you can buy online. Simply spread
                       out the cloth and pur melted bess way on it.
                    </p>
                </div>
            </div>
        </div>


        <div class="feature-row">
            <div class="bad-product">
                <img class="eco-product" src="/img/plasticbags.jpg">
                <div class="welcome-message">
                    <h3>Plastic Produce Bags</h3>
                    <p>
                        When shppping for your fruits and vegetables there shouldnt e so much plstic involved. Supermarkets these days seem to be increasing their plastic use with not only having th eplastic produce produce
                        bags but also wrapping fresly cut fruit in them, then putting more plastic to keep them in a bag. Single wrapped plastic items all inside another plastic bag. these are the kinds of plastic bags, and i speak from experience, that many people
                        take with them home to use for other things like garbage. single use plastic bags like these are what end up in the ocean. 
                    </p>
                </div>
            </div>

            <div class="good-product">
                <img class="eco-product" src="/img/producebags.jpg">
                <div class="welcome-message">
                    <h3>Reusable Produce Bags</h3>
                    <p>
                        using a reusable produce bag is one of the easiest and cheapest way to be more eco-friendly. Theyre convenient to carry around in a purse or backpack
                        so they are always on you. These bags usually cost $5 and can be bought in many places. A popular option is <a href="https://www.ikea.com/us/en/p/kungsfors-mesh-bag-set-of-2-natural-20372834/">Ikea's Kungfors bag</a>
                    </p>
                </div>
            </div>
           
        </div>
    </section>
    <script src="/js/index.js"></script>
</body>
</html>