<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>On the Go</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    {{>header}}
    <section class="product-comparison">
        <div class="feature-row">
            <div class="bad-product">
                <img class="eco-product" src="/img/plasticstraws.jpg">
                <div class="welcome-message">
                    <h3>Plastic Straws</h3>
                    <p>
                        Go Green is a website designed for people who are wanting to learn how to be more environmentally sustainable and do not know where to start.
                        Go Green provides resources. such as articles from popular blogs and news outlets on information about how important it is that humans start 
                        thinking about more green options, the environmental impact different industries have on our climate, and my more. not only can you find information
                        about why it is so important to be sustainable the site also provides information on ways you can make small changes in your everyday life to reduce your
                        impact on the environment. 
                    </p>
                </div>
            </div>

            <div class="good-product">
                <img class="eco-product" src="/img/straws.jpg">
                <div class="welcome-message">
                    <h3>Resuable Straws</h3>
                    <p>
                        Go Green is a website designed for people who are wanting to learn how to be more environmentally sustainable and do not know where to start.
                        Go Green provides resources. such as articles from popular blogs and news outlets on information about how important it is that humans start 
                        thinking about more green options, the environmental impact different industries have on our climate, and my more. not only can you find information
                        about why it is so important to be sustainable the site also provides information on ways you can make small changes in your everyday life to reduce your
                        impact on the environment. Checkout the different straws from bamboo to stainless steel that <a href="https://strawhutco.com">Straw hut Co</a> has to offer.
                    </p>
                </div>
            </div>
           
        </div>
        <div class="feature-row">
            <div class="bad-product">
                <img class="eco-product" src="/img/plasticbags.jpg">
                <div class="welcome-message">
                    <h3>plastic bags</h3>
                    <p>
                        Simply put plastic bags are one of the worst kinds of forms of plastic. People are careless and litter them when they are done resulting them to harm surrounding wild life. They end up in our
                        oceans polluting them. We are ingrained to use them for everything but with small steps and a lot of work from companies and evryday people we can cut down how much 
                        they are used.
                    </p>
                </div>
            </div>

            <div class="good-product">
                <img class="eco-product" src="/img/resuablebags.jpg">
                <div class="welcome-message">
                    <h3>Resuable Bag</h3>
                    <p>
                        You cant escape the plastic bag, whether your in the shopping mall or the grocery store, plastic bags are the main 
                        kind of bags people use in selling. Its important that we cut down our use of single use plastics as they end up sitting in land fills for hundreds of years.
                        While some companies are making the move from plastic to paper, somsumers also can play a role in reducing the use of these kinds of plastic bags by shopping 
                        with a reusable bag. Reusables bags are eco-friendly with many  designed from upcycled plastic or all sustainable resourced fabrics, but they are also conveniant.
                        Many these days are designed for the person on the go. they are compact to fit in a purse, pocket or backpack but un fold to be quite large. its an easy and cheap way
                        be eco-friendly. Cute reusable bags can be bought almost anywhere now, checkout <a href="https://baggu.com/collections/reusable-bags">Baggu's</a> wide variety.
                    </p>
                </div>
            </div>
           
        </div>
    </section>
    <script src="/js/index.js"></script>
</body>
</html>