<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trending Products</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    {{>header}}
    <h1>Sustainable products Trending in Social Media</h1>
        <div>
            <section class="trending-products">
                <div class="feature-row">
                    <div class="clean-product">
                        <img class="eco-product" src="/img/straws.jpg">
                        <div class="welcome-message">
                            <h3>Metal Straws</h3>
                            <p> SAVE THE TURTLES! Checkout these <strong>Metal Straws</strong>
                                All over social media people are ditching plain straws at starbucks and mcdonalds 
                                and anywhere they can with these sleek reusable metal straws. Boycotting conventional 
                                straws with and opting to use a metal straw is an easy way to do your small part in living a 
                                more eco-friendly life style. Build up of small plastics in the ocean is a dangerous threat to ocean life.
                                By reducing our use of these one use items we can make a large impact in reducing the waste that goes to landfills and inevitably our oceans.
                                Checkout these cool ones at <a href="https://strawhutco.com"> Straw Hut Co.</a>
                           </p>
                        </div>
                    </div>
        
                    <div class="clean-product">
                        <img class="eco-product" src="/img/rocketbook.jpg">
                        <div class="welcome-message">
                            <h3>Resuable Notebooks</h3>
                            <p>Paperless Notes! Up until recently the only way to go paperless meant you needed to have a laptop or even a tablet.
                                A more affordable and sustainable was has arrived in the form of <strong>reusable notebooks</strong>! These products are with special paper and writing utensils 
                                that allows you to wipe away yoru notes when yorue done using it and simply wash away with a damp cloth your written notes for it to be reused again. Products 
                                like these offer cool features taht allo you to scan your notes an have them automatically save to a files system of your chooseing. Products like these will masively
                                reduce the amoint of paper you use and as an added bonou keeps you very organized. Checkout the <a href="https://getrocketbook.com">Rocket Core Book</a> from Rocket Book 
                                start reducing your paper use!
                            </p>
                        </div>
                    </div>
                   
                </div>
                <div class="feature-row">
                    <div class="clean-product">
                        <img class="eco-product" src="/img/shampoobar.jpg">
                        <div class="welcome-message">
                            <h3>Shampoo Bars</h3>
                            <p> WAIT...did you say <strong>shampoo bar</strong>? YES! shampoo bar are on the rise in the beauty community. Shampoo bars are the solution to platic packaging. We hardly notice 
                                but everything we own has properly either packaged with plastic, shipped in plastic, and even MADE with plastic. Shampoo bars are an ingenous way to reduce the amount
                                of plastic that is apart in the manufature and selling of the product. No only do they work just as well as shampoo but they last longer, are all natural, and have amaxing
                                health benefits for your hair. You can easily help save the earth every time you wash rinse and repeat by using <a href="https://www.lush.ca/en/hair/shampoo-bars/">Lush's all natural shampoo and conditioning bars</a>. They also 
                                provide an aesthetically appealing snap for the gram ;)
                            </p>
                        </div>
                    </div>
        
                    <div class="clean-product">
                        <img class="eco-product" src="/img/waterbottle.jpg">
                        <div class="welcome-message">
                            <h3>Resuable Water Bottle</h3>
                            <p> Don't let the fear of looking like a VSCO girl get in the way of you using a <strong>reusable water bottle</strong>! Everything about plastic water bottles are hurtful to the
                                environment for manufacturing to its disposal. Not only do they require fossil fuels to be manufactured and are by far more expensive than just drinking tap water, but most likely they 
                                dont get recycled and end up in a landfill. Almost 80% of all water bottles will end up in a land fill and plastic takes 450 years for it to decompose. While they are conveniant they are far more harmful than they seem.
                                Do your small part by purchasing a reusable water bottle, and not only will you be saving the earth you will be saving your wallet by not having to purchase cases of water ever agin. Checkout these VSCO girl 
                                approved water bottles out from <a href="https://www.hydroflask.com/uk-en/"> Hydro FLask</a> to get yours!
                            </p>
                        </div>
                    </div>
                   
                </div>
            </section>
            <section class="products">
    <script src="/js/index.js"></script>
</body>
</html>