<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trending Products</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    {{>header}}
    <h1>Sustainable products Trending in Social Media</h1>
        <div>
            <section class="trending-products">

                <div class="kitchen-row">
                    <h2 class="trending-category"> Trending Sustainable Kitchen Products</h2>
                    <div class="trending-product">
                        <h3 class="trending-product-name">Swedish Dish Cloths</h3>
                        <p class="trending-product-description">
                            Out with the tiger towels and in with these bautiful Swedish Dish Cloths. A single Swedish Dish Cloth can do the work of 17 rolls of papr towel! 
                            These paper towel replacements can be bought as singles or as rolls just as you would purchace a roll of paper towel. These products are definetly soemthing
                            you will get your moneys worth from. After prolong use of the towles simply throw it in the laundry or wash it out in the sink and youre good to go again! not only
                            is the appeal for this product born from its benefits to the environment but they are very cute; coming in a wide range of styles to fit anyones personality.
                        </p>
                        <div style="display: flex;"class="trending-products-to-buy">
                            <div class="trending-card">
                                <img style="display: block; padding-right: 15px;" class="trending-product-img" src="/img/swedishDishCloth.jpg"> 
                                <a href="https://threebluebirds.com/collections/botanicals/products/plum-vines-swedish-dishcloth">Three Blue Birds</a>
                            </div>
                            <div class="trending-card">
                                <img style="display: block; padding-right: 15px;" class="trending-product-img" src="/img/swedishDishCloth2.png"> 
                                <a href="https://well.ca/products/ten-co-swedish-sponge-cloth_168921.html">Well</a>
                            </div>
                            <div class="trending-card">
                                <img style="display: block; padding-right:15px;" class="trending-product-img" src="/img/swedishDishCloth4.jpg"> 
                                <a href="https://www.amazon.com/dp/B07JBHYSYC?ots=1&slotNum=24&imprToken=2ab9b9c9-afcd-fac0-d84&ascsubtag=[]st[p]ck1avw447002z3dyeodi1edtd[i]1hb4DI[d]D[z]m[t]w[r]google.com&tag=thestrategistsite-20">Amazon</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="bath-and-body-row">
                    <h2 class="trending-category">Trending Sustainable Bath and Body Products</h2>
                    <div class="trending-product">
                        <h3 class="trending-product-name">Shampoo Bars</h3>
                        <p class="trending-product-description">
                            WAIT...did you say <strong>shampoo bar</strong>? YES! shampoo bars are on the rise in the beauty community. Shampoo bars are the solution to platic packaging. We hardly notice 
                            but everything we own has most likely either been packaged with plastic, shipped in plastic, and even MADE with plastic. Shampoo bars are an ingenous way to reduce the amount
                            of plastic that is apart of the manufature and selling of the product. No only do they work just as well as shampoo but they last longer, are all natural, and have amaxing
                            health benefits for your hair. You can easily help save the earth every time you wash rinse and repeat by using any of the products recommended below!
                        </p>
                        <div style="display: flex;"class="trending-products-to-buy">
                            <div class="trending-card">
                                <img style="display: block; padding-right: 15px;" class="trending-product-img" src="/img/lushShampooBar.jpg"> 
                                <a href="https://www.lush.ca/en/hair/shampoo-bars/">Lush</a>
                            </div>
                            <div class="trending-card">
                                <img style="display: block; padding-right: 15px;" class="trending-product-img" src="/img/ethiquebar.jpg"> 
                                <a href="https://ethique.com/products/heali-kiwi-shampoo-for-dandruff-or-scalp-problems">Ethique</a>
                            </div>
                            <div class="trending-card">
                                <img style="display: block; padding-right:15px;" class="trending-product-img" src="/img/humankind.jpeg"> 
                                <a href="https://byhumankind.com/products/shampoo">by Humankind</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="householdcleaning-row">
                    <h2 class="trending-category">Trending Sustainable Household & Cleaning Products</h2>
                    <div class="trending-product">
                        <h3 class="trending-product-name">Resuable Notebooks</h3>
                        <p class="trending-product-description">
                            Paperless Notes! Up until recently the only way to go paperless meant you needed to have a laptop or even a tablet.
                            A more affordable and sustainable way has arrived in the form of <strong>reusable notebooks</strong>! These products are made with special paper and writing utensils 
                            that allows you to wipe away your notes when you're done using by means of a  damp cloth, erasable ink, or even heat! Products 
                            like these offer cool features that allow you to scan your notes and have them automatically save to a file system of your chooseing. Products like these will masively
                            reduce the amount of paper you use and as an added bonous keeps you very organized.
                        </p>
                        <div style="display: flex;"class="trending-products-to-buy">
                            <div class="trending-card">
                                <img style="display: block; padding-right: 15px;" class="trending-product-img" src="/img/rocketbook.jpeg"> 
                                <a href="https://getrocketbook.com/products/rocketbook-core?variant=31416131534">Rocket Book</a>
                            </div>
                            <div class="trending-card">
                                <img style="display: block; padding-right: 15px;" class="trending-product-img" src="/img/rocketbookWave.jpg"> 
                                <a href="https://getrocketbook.com/products/rocketbook-wave?variant=19252863043">Rocket Book</a>
                            </div>
                            <div class="trending-card">
                                <img style="display: block; padding-right:15px;" class="trending-product-img" src="/img/wacom.jpeg"> 
                                <a href="https://www.wacom.com/en-us/products/smartpads/bamboo-slate-and-bamboo-folio">Wacom</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="on-the-go-row">
                    <h2 class="trending-category">Trending Sustainable On The Go Products</h2>
                    <div class="trending-product">
                        <h3 class="trending-product-name">Metal Straws</h3>
                        <p class="trending-product-description">
                            SAVE THE TURTLES! Checkout these <strong>Metal Straws</strong>
                            All over social media people are ditching plain plastic straws at starbucks and mcdonalds 
                            and anywhere they can with these sleek reusable metal straws. Boycotting conventional 
                            straws with and opting to use a sustainable option like metal, bamboo, or paper, it is an easy way to do your small part in living a 
                            more eco-friendly lifestyle. Build up of small plastics in the ocean is a dangerous threat to ocean life.
                            By reducing our use of these single use items we can make a large impact in reducing the waste that goes to landfills and inevitably our oceans.
                        </p>
                        <div style="display: flex;"class="trending-products-to-buy">
                            <div class="trending-card">
                                <img style="display: block; padding-right: 15px;" class="trending-product-img" src="/img/strawhutco.jpeg"> 
                                <a href="https://strawhutco.com/collections/stainless-steel/products/stainless-steel-straw-packages-classic-colour">Straw Hut Co.</a>
                            </div>
                            <div class="trending-card">
                                <img style="display: block; padding-right: 15px;" class="trending-product-img" src="/img/finalStraw.jpg"> 
                                <a href="https://final.co/products/finalstraw?variant=15352985026626">Final Straw</a>
                            </div>
                            <div class="trending-card">
                                <img style="display: block; padding-right:15px;" class="trending-product-img" src="/img/bamboo.png"> 
                                <a href="https://www.bambuhome.com/products/bamboo-straws">Bambu</a>
                            </div>
                        </div>
                    </div>
                    <div class="trending-product">
                        <h3 class="trending-product-name">Resuable Water Bottles </h3>
                        <p class="trending-product-description">
                            Don't let the fear of looking like a VSCO girl get in the way of you using a <strong>reusable water bottle</strong>! Everything about plastic water bottles are harmful to the
                            environment from inception to its inevitable disposal in landfills and oceans. Not only do they require fossil fuels to be manufactured and are by far more expensive than just drinking tap water, but most likely they 
                            dont get recycled and end up in a landfill. Almost 80% of all water bottles will end up in a land fill and plastic takes 450 years to decompose. While they are conveniant they are far more harmful than they seem.
                            Do your small part by purchasing a reusable water bottle, and not only will you be saving the earth you will be saving your wallet by not having to purchase cases of water ever agin.
                        </p>
                        <div style="display: flex;"class="trending-products-to-buy">
                            <div class="trending-card">
                                <img style="display: block; padding-right: 15px;" class="trending-product-img" src="/img/hydroflask.jpg"> 
                                <a href="https://www.hydroflask.com/uk-en/bottles">Hydro Flask</a>
                            </div>
                            <div class="trending-card">
                                <img style="display: block; padding-right: 15px;" class="trending-product-img" src="/img/swell.jpeg"> 
                                <a href="https://www.swell.com/shop/swell/bottles/">Swell</a>
                            </div>
                            <div class="trending-card">
                                <img style="display: block; padding-right:15px;" class="trending-product-img" src="/img/yomious.jpg"> 
                                <a href="https://www.amazon.com/dp/B07JW1TVBS/?tag=onegrepla-20">Amazon</a>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
            <section class="products">
    <script src="/js/index.js"></script>
</body>
</html>