* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monterrat', sans-serif;
}

.main-header {
    display: flex;
    padding: 0 20px;
    align-items: center;
    /* background-color: darkblue; */
}
 
.logo {
    display: inline-block;
	margin:0px;
    /* background-color: cornflowerblue; */
}
.site-logo {
    width: 100px;
    height: 100px;
}

.main-nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    /* background-color: cadetblue; */
}


.main-nav-items {
    list-style: none;
    margin: 0 auto;
}

.main-nav-items li {
    display: inline-block;
    padding: 0px 10px 0px 10px;
    line-height: 50px;
    text-align: center;
    font: 900;
    cursor: pointer;
    position: relative;

}
.main-nav-items li a {
    text-decoration: none;
    font-family: "Basic Commercial",sans-serif;
    color: black;
}

.main-nav-items li a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.search {
    display: inline-block;
    position: relative;
    /* background-color: darkgoldenrod; */
    padding-left: 100px;
}

.search-box {
    background: beige;
    position: absolute;
    top: 18px;
    right: 0;
    width: 350px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0, 1);
   
    
}

.search-box input[type="text"] {
    width: 200px;
    padding: 5px 10px;
    margin-left: 23px;
    border: 1px solid green;
    outline: none;
}

.search-box input[type="button"] {
    width: 80px;
    padding: 5px 0;
    background: green;
    border: 1px solid green;
    outline: none;
    cursor: pointer;
    color: #fff;
    margin-left: -6px;

}



.announcement-bar {
    background-color: #323232;
    z-index: 10;
    position: relative;
    text-align: center;
}

.announcement-bar--link {
    display: block;
}
.announcement-bar--link:hover {
    background-color: #535353;
}

.announcement-bar__message {
    color: #ffffff;
    display: block;
    padding: 14.5px 22px;
    font-size: 0.94118em;
    font-weight: 400;
    margin-top: 0px; /* these two lines got rid of the margin lines but i dont know why*/
    margin-bottom: 0px;
}

#announcement {
    color: #3d4246;
    text-decoration: none;
}

.slideshow-container {
    padding-top: 15px;
    max-width: 1000px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: auto; /*to center horizontally*/
}

.slide {
    height:100%;
    position: relative;
}

.slideshow-image {
   width: 100%
}

.image-description {
    color: #f2f2f2;
    text-shadow:    
        -1px 1px 0 #000,
		1px 1px 0 #000,
	    1px -1px 0 #000,
		-1px -1px 0 #000;
    font-size: 50px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    right:0;
}

.dots {
    padding-top: 15px;
    text-align: center;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}
.active {
    background-color: #717171;
  }

  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .overlay { 
      position:absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #3d4246;
      opacity: 0.3;
  }

  .products {
      display: flex;
      flex-wrap: wrap;
      padding-top: 60px;
  }

  .product-card {
      padding: 2%;
      flex-grow: 1;
      flex-basis: 21%;
      display: flex;
      flex-direction: column;
      align-items: center; /*align-xentre aign perpendicular to the flow of items, justify centre is in the direction of the items*/
      background-color: lightgreen;

  }
  .product-card img {
      display: block;
       width: 130px;
      height: auto;
     
  }

  .product-info {
      margin-top: auto;
  }

  @media (max-width: 920px){
      .product-card{
          flex-grow: 1;
          flex-basis: 46%;
      }
  }

  .feature-row {
    display: flex;
    align-items: center;
    padding: 60px 70px;

  }
  .feature-row img {
      padding-right: 30px;
  }

 



