:root {
    --accent-color:  rgb(79,147,148);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Basic Commercial",sans-serif;
    color: #24292e;
}

.main-header {
    display: flex;
    padding: 0 20px;
    align-items: center;
    /* background-color: darkblue; */
}
 
.logo {
    display: inline-block;
	margin:0px;
    /* background-color: cornflowerblue; */
}
.site-logo {
    width: 100px;
    height: 100px;
}

.main-nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.main-nav-items {
    list-style: none;
    margin: 0 auto;
}

.main-nav-items li {
    display: inline-block;
    padding: 0px 10px 0px 10px;
    line-height: 50px;
    text-align: center;
    font: 900;
    cursor: pointer;
    position: relative;

}
.main-nav-items li a {
    text-decoration: none;
    color: black;
}

.main-nav-items li a:hover {
    text-decoration: underline;
}
.hamburger-container {
    display: none;
    flex-grow: 1;
    justify-content: flex-end;
}

#hamburger-links{
    display: none;
    background-color: gray;
}

.hamburger-nav-items li a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(155,220,172);
}

.hidden {
    display: none;
}

.search {
    display: inline-block;
    position: relative;
    /* background-color: darkgoldenrod; */
    padding-left: 10px;
}

.search-box {
    background: beige;
    position: absolute;
    top: 18px;
    right: 0;
    width: 350px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0, 1);
   
    
}

.search-box input[type="text"] {
    width: 200px;
    padding: 5px 10px;
    margin-left: 23px;
    border: 1px solid green;
    outline: none;
}

.search-box input[type="button"] {
    width: 80px;
    padding: 5px 0;
    background: green;
    border: 1px solid green;
    outline: none;
    cursor: pointer;
    color: #fff;
    margin-left: -6px;

}

.announcement-bar {
    background-color: #323232;
    z-index: 10;
    position: relative;
    text-align: center;
}

.announcement-bar--link {
    display: block;
}
.announcement-bar--link:hover {
    background-color: #535353;
}

.announcement-bar__message {
    color: #ffffff;
    display: block;
    padding: 14.5px 22px;
    font-size: 0.94118em;
    font-weight: 400;
    margin-top: 0px; /* these two lines got rid of the margin lines but i dont know why*/
    margin-bottom: 0px;
}

#announcement {
    color: #3d4246;
    text-decoration: none;
}

.slideshow-container {
    padding-top: 15px;
    max-width: 1000px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: auto; /*to center horizontally*/
}

.slide {
    height:100%;
    position: relative;
}

.slideshow-image {
   width: 100%
}

.image-description {
    color: #f2f2f2;
    text-shadow:    
        -1px 1px 0 #000,
		1px 1px 0 #000,
	    1px -1px 0 #000,
		-1px -1px 0 #000;
    font-size: 50px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    right:0;
}
.image-description a {
    color: #f2f2f2;
    text-decoration: none;
}

.dots {
    padding-top: 15px;
    text-align: center;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}
.active {
    background-color: #717171;
  }

  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .2} 
    to {opacity: .8}
  }
  
  @keyframes fade {
    from {opacity: .2} 
    to {opacity: 0.8}
  }
  .overlay { 
      position:absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #3d4246;
      opacity: 0.3;
  }

  .trending-container {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .products {
      display: flex;
      flex-wrap: wrap;
      padding-top: 60px;
  }

  .product-card {
      padding: 2%;
      flex-grow: 1;
      flex-basis: 21%;
      display: flex;
      flex-direction: column;
      align-items: center; /*align-xentre aign perpendicular to the flow of items, justify centre is in the direction of the items*/

  }
  .product-card img {
      display: block;
      width: 130px;
      height: 150px;
     
  }

  .product-card h5 {
      font-size: 15px;
  }

  .product-card p {
      font-size: 12px;
      width: 150px;
  }

  .product-info {
      margin-top: auto;
  }

  @media (max-width: 920px){
      .product-card{
          flex-grow: 1;
          flex-basis: 46%;
      }
  }

  .feature-row {
    display: flex;
    align-items: center;
    padding: 60px 70px;
  }

  .environment-feature-row {
    display: flex;
    align-items: center;
    padding: 20px 70px;
  }

  .feature-row img {
      padding-right: 30px;
  }

  .welcome-message h3{
      padding-bottom: 15px;
      font-size: 35px;
      letter-spacing: 3px;
  }

  .welcome-message p{
      color: grey;
  }

.see-more {
    background: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    width: 77;
    padding: 8px;
}

.sustainable-living-banners {
    width: 400px;
    height: 200px;
    opacity: 0.9;
}

.home-gardening-information {
    margin-left: 20px;
}

.banner-image {
    width: 100%;
    height: 100%;
}


.articles-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    justify-content: space-evenly;
    flex-direction: column;
}

.articles-category {
    padding-top: 25px;
    letter-spacing: 3px;
    font-weight:lighter;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
}

.article-card {
    padding: 2%;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article-card a{
    width: 100%;
    height: 80%;
    
}

.article-image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.pageTitle {
    padding-left: 65px;
}

.row {
    display: flex;
    align-items: flex-start;
    padding: 15px 50px 30px 50px;
  }

.product-img {
    width: 100%;
    height: 293px;
    object-fit: cover;
}

.bad-product, .good-product {
    width: 50%;
    padding: 0px 15px;
}

.product-header {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 35px;
    letter-spacing: 3px;
}

.product-description p {
    text-align: justify;
}

.good-product-link {
    display: inline-block;
    text-decoration: none;
    padding: 7px;
    margin-top: 8px;
    color: whitesmoke;
    background-color:var(--accent-color);
    border-radius: 5px;
    box-shadow: 3px 3px 5px #888888;    
}

.pageTitle {
    font-size: 50px;
}

.row-divider {
    display: none;
}


@media(max-width: 500px) {
    .article-card {
        width: 150px;
        height: 150px;
    }
    .row {
        flex-wrap: wrap;
    }
    .bad-product, .good-product {
        width: 100%;
        padding-bottom: 30px;
    }
    .row-divider {
        display: block;
        color: rgba(0,0,0,0.0625);
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        margin: 0px 15px;
    }
    .main-nav {
        display: none;
    }
    .hamburger-container {
        display: flex;
    }
}

.trending-product-img {
    width: 160px;
    height: 170px;
}

.trending-category {
    padding-top: 25px;
    letter-spacing: 3px;
    font-weight:lighter;
}

.trending-product-name {
    padding-top: 15px;
}

.trending-product-description {
    padding-top: 15px;
    padding-bottom: 10px;
}

.trending-card {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding-right: 15px;
}